<div id="leftSidebar" class="sidenav">
  <div class="container-fluid">
    <div class="card mb-3 text-white">
      <div class="card-header bottom-border">Real-Time Diagnostics</div>
      <div class="card-body">
        <div id="primaryCrashList" role="tablist">
          <a class="card-link dropdown-toggle active" data-toggle="collapse" href="#primaryCrashContent" role="button" aria-expanded="true">Primary Prone Crash Locations</a>
          <div class="list-group collapse show" id="primaryCrashContent">
            <div class="text-white list-group-item">
              <ul class="list-group">
                <li class="list-group-item d-flex p-0 border-0"><span id="basic-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="basicDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Basic</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="basicDropdown" id="basic-segments-list"></div>
                </li>
                <li class="list-group-item d-flex p-0 border-0"><span id="diverge-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="divergeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Diverge</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="divergeDropdown" id="diverge-segments-list"></div>
                </li>
                <li class="list-group-item d-flex p-0 border-0"><span id="merge-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="mergeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Merge</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="mergeDropdown" id="merge-segments-list"></div>
                </li>
                <li class="list-group-item d-flex p-0 border-0"><span id="weaving-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="weavingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Weaving</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="weavingDropdown" id="weaving-segments-list"></div>
                </li>
                <li class="list-group-item d-flex p-0 border-0"><span id="express-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="expressDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Express-Related</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="expressDropdown" id="express-segments-list"></div>
                </li>
                <li class="list-group-item d-flex p-0 border-0"><span id="ramp-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="rampDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ramp</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="rampDropdown" id="ramp-segments-list"></div>
                </li>
              </ul>
            </div>              
          </div>
        </div>
        <div id="secondaryCrashList" role="tablist">
          <a class="dropdown-toggle active" data-toggle="collapse" href="#secondaryCrashContent" role="button" aria-expanded="true">Secondary Prone Crash Locations</a>
          <div class="list-group collapse show" id="secondaryCrashContent">
            <div class="list-group-item bg-black text-white">
              <ul class="list-group">
                <li class="list-group-item d-flex p-0 border-0"><span id="secondary-realtime-info" class="text-warning ml-2 my-0">0</span>
                  <span class="my-0 ml-2 w-100 dropdown-toggle" type="button" id="secondaryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Segment(s)</span>
                  <div class="bg-black dropdown-menu collapse border border-secondary" aria-labelledby="secondaryDropdown" id="secondary-segments-list"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3 text-white">
      <div class="card-header bottom-border">Top Crash-Prone Segments</div>
      <div class="card-body">
        <canvas id="Chart1" style="width: 100%; height: 13vh;"></canvas>
        <canvas id="Chart2" style="width: 100%; height: 13vh;"></canvas>
        <canvas id="Chart3" style="width: 100%; height: 13vh;"></canvas>
        <canvas id="Chart4" style="width: 100%; height: 13vh;"></canvas>
        <canvas id="Chart5" style="width: 100%; height: 13vh;"></canvas>
        <canvas id="Chart6" style="width: 100%; height: 13vh;"></canvas>
      </div>
    </div>

    <!-- <div class="card mb-3 text-white">
      <div class="card-header bottom-border">Visualization Options</div>
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="crashOption">
          <label class="custom-control-label" for="crashOption">High Severe Crash Locations</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="eventOption" checked>
          <label class="custom-control-label" for="eventOption">Crash Events</label>
        </div>
      </div>
    </div> -->
    <!-- <div class="card text-white">
      <div class="card-header bottom-border">Traffic Events</div>
      <div class="card-body">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="crashEvent">
          <label class="custom-control-label" for="crashEvent">Crash Event</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="roadworkEvent">
          <label class="custom-control-label" for="roadworkEvent">Road Work Event</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="incidentEvent">
          <label class="custom-control-label" for="incidentEvent">Incident Event</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="congestionEvent">
          <label class="custom-control-label" for="congestionEvent">Congestion Event</label>
        </div>
      </div>
    </div> -->
  </div>
</div>
