<nav class="navbar navbar-expand-lg navbar-light bg-light py-2">
  <div class="container-fluid">
      <!-- Left Logo -->
      <a class="navbar-brand d-flex align-items-center" href="/">
          <img src="/images/logo.png" alt="Logo" class="img-fluid" style="max-height: 30px;">
      </a>

      <!-- Hamburger Menu Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Center Navigation Items -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav mx-auto">
              <li class="nav-item px-2">
                  <a class="nav-link" href="/">CPED</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" href="/cped">CCTV</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" href="/report">Report</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" href="/fullmap">Full Map</a>
              </li>
          </ul>
          <span class="navbar-text mx-3" id="info-weather"></span>
      </div>

      <!-- Right Logo -->
      <a class="navbar-brand d-flex align-items-center ms-auto" href="/">
        <img src="/images/fdot_logo_color.png" alt="FDOT Logo" class="img-fluid" style="max-height: 30px; margin-right: 15px;">
        <img src="/images/MPO_logo.png" alt="MPO Logo" class="img-fluid" style="max-height: 30px;">
      </a>

  </div>
</nav>