<div id="rightSidebar" class="sidenav">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript" src="/scripts/loadChart.js"></script>
    <script type="text/javascript" src="/scripts/realTime.js"></script>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="tab">
        <script src="/scripts/openTab.js"></script>
        <button class="tablinks" onclick="openTab(event, 'Speed')">Speed</button>
        <button class="tablinks" onclick="openTab(event, 'SpeedStd')">Speed std</button>
    </div>
    <div id="Speed" class="tabcontent">
        <div>
            <canvas id="speedChart" width="400" height="300"></canvas>
        </div>
        <div>
            <canvas id="volumeChart" width="400" height="300"></canvas>
        </div>
    </div>
    <div id="SpeedStd" class="tabcontent">
        <div>
            <canvas id="stdChart" width="290" height="290"></canvas>
        </div>
    </div>

    <hr>

    <hr>
</div>

<script>
    //document.addEventListener('DOMContentLoaded', function() {
    //var jsonPath='http://10.32.93.91:8085/rawData/getDataByLinkId/1041009'
    
    //fetch(jsonPath).then(response => response.json()).then(data => drawSpeedChart('intersection', data));
  //});
//setInterval(() => {
  //fetch(jsonPath)
    //.then(response => response.json())
    //.then(data => drawSpeedChart('intersection', data));
//}, 60000);
// Sample JSON data
var data = [
  

  {
    "_id": "66562dc0c1e0f644cb1d1b3c",
    "time": "2024-05-28T19:17:00.000Z",
    "link_ID": 1041009,
    "lane_ID": 0,
    "speed": 50,
    "volume":6,
    "occupancy": -1,
    "createdDate": "2024-05-28T19:17:20.606Z",
    "__v": 0
  },
  {
    "_id": "66562dfdc1e0f644cb1d2b67",
    "time": "2024-05-28T19:18:00.000Z",
    "link_ID": 1041009,
    "lane_ID": 0,
    "speed": 60,
    "volume": -1,
    "occupancy": -1,
    "createdDate": "2024-05-28T19:18:21.186Z",
    "__v": 0
  },
  {
    "_id": "66562e25c1e0f644cb1d371b",
    "time": "2024-05-28T19:19:00.000Z",
    "link_ID": 1041009,
    "lane_ID": 0,
    "speed": 70,
    "volume": -1,
    "occupancy": -1,
    "createdDate": "2024-05-28T19:19:21.855Z",
    "__v": 0
  },
  {
    "_id": "66562e25c1e0f644cb1d371b",
    "time": "2024-05-28T19:19:00.000Z",
    "link_ID": 1041009,
    "lane_ID": 0,
    "speed": 70,
    "volume": -1,
    "occupancy": -1,
    "createdDate": "2024-05-28T19:19:21.855Z",
    "__v": 0
  },
  {
    "_id": "66562e25c1e0f644cb1d371b",
    "time": "2024-05-28T19:19:00.000Z",
    "link_ID": 1041009,
    "lane_ID": 0,
    "speed": 70,
    "volume": -1,
    "occupancy": -1,
    "createdDate": "2024-05-28T19:19:21.855Z",
    "__v": 0
  }
  
];

// Call drawSpeedChart to create the chart
drawSpeedChart('intersection', data);
drawVolumeChart('intersection', data);
</script>
