<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <%- include('../partials/navbar.ejs') %>
  <div id="map"></div>
  <script src="/scripts/papaparse.js"></script>
  <script id="map-key" type="application/json"><%-mapApiKey%></script>
  <script type="module" src="/scripts/mapLoader.js"></script>
</body>

</html>